.wrapperForMathBase{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
}
.wrapperForMathBase button {
    height: auto;
    font-weight: 600;
    background: inherit;
}
.generatedQuestion {
    font-size: 1.8em;
}

.enteredVal {
    border: none;
    text-decoration: underline;
    background: inherit;
    font-size: 1.8em;
    width: 30%;
    margin-left: 30px;
}
