.menu_wrapper{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* margin-right: auto; */
    /* justify-self: left; */
    height: 100%;
    width: 15%;
    /* justify-content: center;     */
    /* border: solid 3px blueviolet;  */
    outline:1px solid green;

}
