.screenWrapper{
    width: 80%;
    height: 235px;
    margin: 0 auto;
    background: rgb(133, 130, 130);
    border-radius: 4px;
}
.generatedQuestion {
    text-align: left;
    padding:5px 0 0 20px;
    font-size: 3.5em;
}
.screenWrapper.enteredVal {
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
