.tetris {    
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    border: solid grey 5px;
    padding: 50px;
    /* margin: auto; */
}

.generatedQuestion {
    background: chocolate;
    text-align: center;
    font-size: 2em;
    height: fit-content;
}
.enteredVal {
    background: lightcoral;
    text-align: center;
    font-size: 2em;
    height: fit-content;
}