.almighty_wrapper{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.tetris {    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px;
    background: rgb(150, 3, 150);
    border: solid grey 5px;
    border-radius: 50px;
}

