.buttonsBasic {
    width: 360px;
    display: grid;
    grid-template-areas: 
    'one two three'
    'four five six'
    'seve eight nine'
    'zero delete empty';
    grid-gap: 10px;
    justify-items: center;
    padding: 2  5px 0 0 0;
    background: rgb(150, 3, 150);
    border-radius: 10%;
}
.btn{
    text-align: center;
    width: 60px;
    color: black;
    border: solid rgb(22, 8, 219) 2px;
    padding: 15px;
    font-size: 3em;
    border-radius: 100%;
    background: rgb(215, 215, 15);
    cursor: pointer;
    user-select: none;
    align-items: center;
}
.btn.next{
    background: green;
    font-weight:600;
}
.btn.delete{
    background: red;
}