.score_style {
    width: 150%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    user-select: none;
}

.score_style h2 {
    margin: 0 auto;
}

.wrapperForAnswers {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;

}

.scoreCorrect span{
    width: 5%;
    background-color: rgb(158, 219, 158);
    border-radius: 4px;
    font-size: 1.2em;
    user-select: none;
}

.scoreIncorrect span{
    width: 5%;
    background-color: rgb(247, 122, 122);
    border-radius: 4px;
    font-size: 1.2em;
    user-select: none;
}
