.main_cont {
  display: flex;
  position: relative;
}
.main_cont > div {
  flex: 1;
}
.main_cont > .middle_cont {
  flex: 4;
}

.middle_cont{
  display: flex;
  width: 70%;
  height: 500px;
  /* outline:1px solid yellow; */
}

/* .game_cont {
  display: flex;
  position: absolute;
  justify-self: right;
  width: 80%;
  height: 500px;
  border: solid grey 5px;
} */
